flows.json
[{"id":"6da41e86.f585c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3705dad0.9c8256","type":"debug","z":"6da41e86.f585c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":120,"wires":[]},{"id":"ae76016a.47747","type":"ibmiot in","z":"6da41e86.f585c","authentication":"apiKey","apiKey":"c44df297.bf908","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"b827eb4f731f","applicationId":"","deviceType":"testdevicetype","eventType":"Data","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":120,"y":80,"wires":[["57d7e3dd.917b1c","1ecc2d06.c9cf13"]]},{"id":"57d7e3dd.917b1c","type":"function","z":"6da41e86.f585c","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":40,"wires":[["3705dad0.9c8256","736bcb28.a96dc4"]]},{"id":"1ecc2d06.c9cf13","type":"function","z":"6da41e86.f585c","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["3705dad0.9c8256","9e676f74.20d34"]]},{"id":"736bcb28.a96dc4","type":"ui_gauge","z":"6da41e86.f585c","name":"Temperature","group":"828940ea.db23b","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":60,"wires":[]},{"id":"9e676f74.20d34","type":"ui_gauge","z":"6da41e86.f585c","name":"Humidity","group":"35d31303.eb7c9c","order":1,"width":0,"height":0,"gtype":"compass","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":240,"wires":[]},{"id":"760a4bb4.d9bcf4","type":"webhookrelay","z":"6da41e86.f585c","buckets":"owntracks","x":140,"y":320,"wires":[["78157bf3.50a4f4"]]},{"id":"78157bf3.50a4f4","type":"function","z":"6da41e86.f585c","name":"Extract body","func":"return {\n    payload: msg.payload.body\n};","outputs":1,"noerr":0,"x":330,"y":320,"wires":[["b44d3374.efbb1"]]},{"id":"b44d3374.efbb1","type":"owntracks","z":"6da41e86.f585c","x":180,"y":440,"wires":[["d8e93029.89542"]]},{"id":"d8e93029.89542","type":"function","z":"6da41e86.f585c","name":"format","func":"return {\n    payload: {\n        name: msg.payload.tid,\n        lat: msg.payload.lat,\n        lon: msg.payload.lon,\n        icon: 'user-circle-o'\n    }\n};","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["88c647c9.3c1f98","6e3f4e7c.b1e4"]]},{"id":"88c647c9.3c1f98","type":"worldmap","z":"6da41e86.f585c","name":"","lat":"10.1446° N","lon":"76.2273° E","zoom":"15","layer":"OSM","cluster":"0","maxage":"9000","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":660,"y":320,"wires":[]},{"id":"6e3f4e7c.b1e4","type":"worldmap-tracks","z":"6da41e86.f585c","name":"","depth":20,"layer":"combined","x":580,"y":460,"wires":[["88c647c9.3c1f98"]]},{"id":"c44df297.bf908","type":"ibmiot","z":"","name":"nraif4","keepalive":"60","serverName":"nraif4.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"828940ea.db23b","type":"ui_group","z":"","name":"Temperature","tab":"fd8e5d8b.a5752","order":1,"disp":true,"width":"6","collapse":false},{"id":"35d31303.eb7c9c","type":"ui_group","z":"","name":"Humidity","tab":"fd8e5d8b.a5752","order":2,"disp":true,"width":"6","collapse":false},{"id":"fd8e5d8b.a5752","type":"ui_tab","z":"","name":"Smart Weather","icon":"dashboard","disabled":false,"hidden":false}]